body {
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: relative;
  width: 1660px;
  height: 450px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 250px;
  padding-right: 250px;
  
  background-image: url(https://i.postimg.cc/c4HqCC4s/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

.header-menu-container {
  position: relative;
  z-index: 1;
  width: 1170px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 25px;
}

.menu {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: Open Sans, Arial, sans-serif;
  text-align: center;
}

.burger {
  display: none;
}

.menu-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.heading-container {
  position: relative;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header-title {
  width: 685px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: Open Sans, Arial, sans-serif;
  text-align: center;
}

.now-in-trend {
  width: 1660px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.trend-title {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans, Arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.trend-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 0 auto;
}

.trend-topics {
  width: 100%;
  display: flex;
  gap: 5px;
}

.topic {
  position: relative;
  flex-grow: 1;
  width: 25%;
  height: 319px;
  background-color: #eff6f1;
  margin: 0 auto;
}

.topic::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.topic::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 370px;
  height: 146px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #b59f5b;
}

.topic:nth-child(2)::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 370px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #b59f5b;
}

.trend-one {
  width: 100%;
  height: 100%;
  background-image: url(https://i.postimg.cc/9XDWrPC1/trend1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.trend-text {
  display: block;
  box-sizing: border-box;
  padding: 170px 35px 50px 94px;
}

.trend-text:nth-child(2) {
  display: block;
  box-sizing: border-box;
  padding: 100px 35px 50px 94px;
}

.trend-two {
  width: 100%;
  height: 100%;
  background-image: url(https://i.postimg.cc/5y2p29Zk/trend2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.trend-three {
  width: 100%;
  height: 100%;
  background-image: url(https://i.postimg.cc/rwrjmPPc/trend3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.trend-four {
  width: 100%;
  height: 100%;
  background-image: url(https://i.postimg.cc/j5s4Mddd/trend4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.trend-categories {
  position: relative;
  z-index: 1;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.trend-categories:hover {
  font-size: 14px;
  line-height: 40px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.trend-categories-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.title-category {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: Open Sans;
}

.title-category:hover {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.main {
  width: 1200px;
  margin: 0 auto;
  padding-left: 225px;
  padding-right: 225px;
}

.main-container {
  margin-top: 66px;
  display: flex;
  flex-wrap: wrap;
}

.post-list {
  width: 794px;
  padding-left: 15px;
  margin-right: 75px;
  display: flex;
  flex-wrap: wrap;
}

.post {
  display: flex;
}

.post-preview {
  box-sizing: border-box;
  width: 381px;
  height: 294px;
  margin: 30px;
  background-color: #eff6f1;
}

.post-content {
  box-sizing: border-box;
  width: 367px;
  height: 294px;
  margin-top: 17px;
}

.post-tags {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.post-tags-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.topic-date {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 15px;
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  font-weight: 400;
  font-family: Open Sans;
}

.topic-title-author {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
}

.topic-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.topic-content {
  width: 367px;
  height: 62px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: Open Sans;
}

.sidebar {
  width: 316px;
}

.latest-post {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.new-posts-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-align: center;
}

.new-posts-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #b59f5b;
}

.new-post {
  max-height: 85px;
  display: flex;
}

.new-post-image {
  display: block;
  width: 75px;
}

.new-post-image:hover {
  width: 70px;
  height: 70px;
  background-color: #f4f7f6;
}

.new-post-text {
  margin-left: 10px;
  width: 183px;
  max-height: 85px;
  margin-top: -13px;
}

.new-post-text-date {
  opacity: 0.541;
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;
}

.new-post-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
  margin-top: -13px;
}

.new-post-title:hover {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.search {
  display: flex;
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
}

.search:focus {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.field {
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;

  box-sizing: border-box;
  width: 222px;
  height: 48px;
  padding-left: 20px;
  margin: 0;
  border: none;
}

.button-search {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  border: none;
}

.button-search:hover {
  width: 48px;
  height: 48px;
  background-color: #323232;
}

.subscribe-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-align: center;
}

.e-mail-field {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: none;

  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: Open Sans;
}

.e-mail-field:focus {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.submit {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: Open Sans;

  width: 275px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
}

.submit:hover {
  width: 270px;
  height: 48px;
  background-color: #323232;
}

.tags-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-align: center;
}

.tags-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #b59f5b;
}

.tags-container {
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.tags-box-fashion {
  /*opacity: 0.000;*/
  width: 86px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  text-align: center;

  margin-bottom: 4px;
}

.tags-box-fashion:hover {
  /*opacity: 0.000;*/
  width: 86px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #b59f5b;
}

.tags-box-music {
  /*opacity: 0.000;*/
  width: 75px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.tags-box-lifestyle {
  width: 90px;
  height: 30px;
  background-color: rgba(253, 249, 242, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.tags-box-art {
  width: 59px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  margin-bottom: 4px;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.tags-box-interior {
  width: 76px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.tags-box-travel {
  width: 77px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.tags-box-food {
  width: 65px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.tags-box-health {
  width: 76px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.categories-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;

  text-align: center;
}

.categories-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #b59f5b;
}

.categories-container {
  width: 271px;
}

.category-beauty {
  position: relative;
  width: 75px;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
}

.indicator-beauty {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.category-health {
  position: relative;
  width: 85px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
}

.indicator-health {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.category-lifestyle {
  position: relative;
  width: 120px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
}

.indicator-lifestyle {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.category-music {
  position: relative;
  width: 75px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
}

.indicator-music {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.category-sport {
  position: relative;
  width: 65px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
}

.indicator-sport {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.category-yoga {
  position: relative;
  width: 50px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: Open Sans;
}

.indicator-yoga {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: Open Sans;
}

.shop {
  width: 1200px;
  margin-bottom: 160px;
}

.shop-title {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
  text-align: center;
}

.shop-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #b59f5b;
}

.products-container {
  width: 1200px;
  display: flex;
}

.product {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.product::after {
  content: " ";
  display: block;
  position: absolute;
  top: 177px;
  left: 30px;
  width: 347px;
  height: 267px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #b59f5b;
}

.product-imgbox-one {
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
  margin: 0 auto;
  background-image: url(https://i.postimg.cc/PrzGLQr8/shop-item-desk1.jpg);
}

.product-imgbox-two {
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
  margin: 0 auto;
  background-image: url(https://i.postimg.cc/bv54X6L4/shop-item-desk2.jpg);
}

.product-imgbox-three {
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
  margin: 0 auto;
  background-image: url(https://i.postimg.cc/7h3R2qDy/shop-item-desk3.jpg);
}

.product__body {
  width: 100%;
  height: 190px;
  box-sizing: border-box;
  padding-left: 57px;
  padding-right: 57px;

  display: flex;
  flex-wrap: wrap;
}

.product-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.product__description {
  width: 301px;
  height: 63px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: Open Sans;
}

.product__description:hover {
  width: 301px;
  height: 54px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: Open Sans;
}

.product-link {
  color: #b59f5b;
  text-decoration: underline;
}

.product__prices {
  display: flex;
  flex-direction: column;
}

.product__price product__price_old {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.product__price {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: Open Sans;
}

.product__button {
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;

  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: Open Sans;
}

.product__button:hover {
  width: 140px;
  height: 48px;
  background-color: #323232;
}

.product__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer {
  width: 1200px;
  padding-left: 246px;
  padding-right: 243px;
}

.footer-container {
  width: 100%;
  height: 83px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dribbble {
  width: 50px;
  height: 50px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.pinterest {
  width: 50px;
  height: 50px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.tumbler {
  width: 50px;
  height: 50px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  width: 1170px;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 43px;
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
  font-family: Open Sans;
}

@media (max-width: 640px) {
  .header {
   position: relative;
   width: 360px;
   height: 640px;
   background-image: url(https://i.postimg.cc/dtDXvf43/banner-mobile.jpg);
  }

  .header::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-color: #000000;
  }

  .header-menu-container {
    width: 272px;
    padding: 50px;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
  }

  .heading-container {
    position: relative;
    z-index: 1;
    width: 331px;
    margin-top: 213px;
    margin-bottom: 213px;
    margin-left: 30px;
  }

 /* .noemi-logo {
    position: relative;
    top: 240px;
    z-index: 1;
  }*/

  .header-title {
    width: 328px;
    height: 384px;
    font-size: 26px;
    line-height: 36px;
  }

  .menu-list {
    display: none;
  }

  .burger {
    position: relative;
    border: none;
    background: transparent;
    width: 23px;
    height: 24px;
  }
  
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #fff;
  }
  
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
  }
  
  .burger::after {
    bottom: 0;
  }

  .main {
    width: 360px;
  }

  .main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .now-in-trend {
    width: 360px;
  }

  .trend-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
  }

  .topic {
    position: relative;
    display: block;
    width: 100%;
    height: 230px;
    margin: 0 auto;
  }

  .topic::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-color: #000000;
  }

  .topic::after {
    content: " ";
    display: block;
    position: absolute;
    top: 86px;
    left: 12px;
    width: 330px;
    height: 127px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }

  
  .trend-text {
    padding: 90px 30px 10px 30px;
  }


  .trend-categories {
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 37px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .trend-categories:hover {
    font-size: 14px;
    line-height: 37px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .trend-categories-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .title-category {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: Open Sans;
  }

  .title-category:hover {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .post-list {
    width: 360px;
  }

  .post {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .post::after {
    content: " ";
    display: block;
    width: 329px;
    height: 3px;
    background-color: #eeeeee;
  }

  .post-content {
    box-sizing: border-box;
    margin-top: 20px;
  }

  .post-tags {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .post-tags-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .topic-date {
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    color: #888888;
    font-weight: 400;
    font-family: Open Sans;
  }

  .topic-title-author {
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
  }

  .topic-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .topic-content {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: Open Sans;
  }

  .latest-post {
    width: 100%;
  }

  .new-posts-title {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
  }

  .new-posts-title::after {
    content: " ";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    margin: 0 auto;
    background-color: #b59f5b;
  }

  .new-post {
    max-height: 80px;
    display: flex;
    margin-bottom: 20px;
  }

  .new-post-image {
    display: block;
    width: 70px;
  }

  .new-post-image:hover {
    width: 70px;
    height: 70px;
    background-color: #f4f7f6;
  }

  .new-post-text {
    margin-left: 10px;
    width: 246px;
    max-height: 85px;
    margin-top: -13px;
  }

  .new-post-text-date {
    opacity: 0.541;
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: Open Sans;
  }

  .new-post-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
    margin-top: -13px;
  }

  .new-post-title:hover {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .search {
    display: flex;
    width: 329px;
    height: 48px;
    background-color: #f4f7f6;
  }

  .search:focus {
    width: 329px;
    height: 48px;
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
  }

  .field {
    opacity: 0.541;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: Open Sans;

    box-sizing: border-box;
    width: 329px;
    height: 48px;

    border: none;
  }

  .button-search {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    border: none;
  }

  .button-search:hover {
    width: 48px;
    height: 48px;
    background-color: #323232;
  }

  .subscribe-title {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
  }

  .subscribe-title::after {
    content: " ";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    margin: 0 auto;
    background-color: #b59f5b;
  }

  .e-mail-field {
    width: 329px;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    margin-bottom: 15px;

    opacity: 0.541;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: Open Sans;
  }

  .e-mail-field:focus {
    width: 329px;
    height: 48px;
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
  }

  .submit {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: Open Sans;

    width: 329px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
  }

  .submit:hover {
    width: 329px;
    height: 48px;
    background-color: #323232;
  }

  .tags-title {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
  }

  .tags-title::after {
    content: " ";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    margin: 0 auto;
    background-color: #b59f5b;
  }

  .tags-container {
    width: 331px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1%;

    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .tags-box-fashion {
    /*opacity: 0.000;*/
    width: 86px;
    height: 30px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
    text-align: center;

    margin-bottom: 4px;
  }

  .tags-box-fashion:hover {
    /*opacity: 0.000;*/
    width: 86px;
    height: 30px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #b59f5b;
  }

  .tags-box-music {
    /*opacity: 0.000;*/
    width: 75px;
    height: 30px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
    border: 3px solid #eeeeee;

    text-align: center;

    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .tags-box-lifestyle {
    width: 90px;
    height: 30px;
    background-color: rgba(253, 249, 242, 0);
    border: 3px solid #eeeeee;

    text-align: center;

    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .tags-box-art {
    width: 59px;
    height: 30px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
    margin-bottom: 4px;

    text-align: center;

    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .tags-box-interior {
    width: 83px;
    height: 30px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;

    text-align: center;

    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .tags-box-travel {
    width: 77px;
    height: 30px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;

    text-align: center;

    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .tags-box-food {
    width: 65px;
    height: 30px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;

    text-align: center;

    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .tags-box-health {
    width: 76px;
    height: 30px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;

    text-align: center;

    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .categories-title {
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;

    text-align: center;
  }

  .categories-title::after {
    content: " ";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    margin: 0 auto;
    background-color: #b59f5b;
  }

  .categories-container {
    width: 271px;
  }

  .category-beauty {
    position: relative;
    width: 75px;
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-beauty::after {
    content: " ";
    display: block;
    width: 330px;
    height: 1px;
    background-color: #eeeeee;
  }

  .indicator-beauty {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-health {
    position: relative;
    width: 85px;

    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-health::after {
    content: " ";
    display: block;
    width: 330px;
    height: 1px;
    background-color: #eeeeee;
  }

  .indicator-health {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-lifestyle {
    position: relative;
    width: 120px;

    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-lifestyle::after {
    content: " ";
    display: block;
    width: 330px;
    height: 1px;
    background-color: #eeeeee;
  }

  .indicator-lifestyle {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-music {
    position: relative;
    width: 75px;

    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-music::after {
    content: " ";
    display: block;
    width: 330px;
    height: 1px;
    background-color: #eeeeee;
  }

  .indicator-music {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-sport {
    position: relative;
    width: 65px;

    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-sport::after {
    content: " ";
    display: block;
    width: 330px;
    height: 1px;
    background-color: #eeeeee;
  }

  .indicator-sport {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-yoga {
    position: relative;
    width: 50px;

    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
  }

  .category-yoga::after {
    content: " ";
    display: block;
    width: 330px;
    height: 1px;
    background-color: #eeeeee;
  }

  .indicator-yoga {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }

  .shop {
    width: 360px;
  }

  .shop-title {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
  }

  .shop-title::after {
    content: " ";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    margin: 0 auto;
    background-color: #b59f5b;
  }

  .products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
  }

  .product::after {
    content: " ";
    display: block;
    position: absolute;
    top: 252px;
    left: 12px;
    width: 330px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }

  .product-imgbox-one {
    width: 285px;
    height: 285px;
    margin: 0 auto;
    background-image: url(https://i.postimg.cc/0Qpd516J/shop-item-mobile1.jpg);
    background-color: #f4f7f6;
  }

  .product-imgbox-two {
    width: 285px;
    height: 285px;
    margin: 0 auto;
    background-image: url(https://i.postimg.cc/gjbpR8kT/shop-item-mobile2.jpg);
    background-color: #f4f7f6;
  }

  .product-imgbox-three {
    width: 285px;
    height: 285px;
    margin: 0 auto;
    background-image: url(https://i.postimg.cc/NF8cxFKf/shop-item-mobile3.jpg);
    background-color: #f4f7f6;
  }

  .product__body {
    width: 100%;
    height: 190px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .product-title {
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .product__description {
    width: 291px;
    height: 50px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: Open Sans;
  }

  .product__description:hover {
    width: 290px;
    height: 54px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: Open Sans;
  }

  .product-link {
    color: #b59f5b;
    text-decoration: underline;
  }

  .product__prices {
    display: flex;
    flex-direction: column;
  }

  .product__price product__price_old {
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .product__price {
    display: block;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }

  .product__button {
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    border: none;

    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: Open Sans;
  }

  .product__button:hover {
    width: 140px;
    height: 48px;
    background-color: #323232;
  }

  .product__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .footer {
    width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .footer-container {
    width: 100%;
    height: 81px;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dribbble {
    width: 50px;
    height: 50px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pinterest {
    width: 50px;
    height: 50px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .tumbler {
    width: 50px;
    height: 50px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding-top: 73px;
    padding-bottom: 43px;
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    font-weight: 700;
    font-family: Open Sans;
  }
}
