
@font-face {
   font-family: Open Sans, Arial, sans-serif;
  src: url(OpenSans-Regular.woff);
  font-weight: 400;
}

@font-face {
   font-family: Open Sans, Arial, sans-serif;
  src: url(OpenSans-Bold.woff);
  font-weight: 700;
}

body {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  font-family: Open Sans, Arial, sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: relative;
  margin: 0 auto;
}

.header-container-banner {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-img{
  width: 100%;
  object-fit: cover;
}

.header-container-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
 
  top: 0;
  left: 0;
}

.header-menu-container {
  position: relative;
  z-index: 1;
  width: 1170px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 25px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.menu {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.burger {
  display: none;
}

.menu-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.heading-container {
  position: relative;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header-title {
 width: 685px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

  .now-in-trend {
    width: 100%;
    margin: 0 auto;
    margin-top: 200px;
  }

  .trend-title {
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  .trend-title::after {
    content: " ";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 0 auto;
  }

  .trend-topics {
    width: 100%;
    display: flex;
    gap: 0.5%;
  }

  .topic {
    position: relative;
    display: block;
    width: 25%;
    height: 319px;
    background-color: #eff6f1;
    margin: 0 auto;
  }

  .topic::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-color: #000000;
  }

  .topic::after {
    content: " ";
    display: block;
    position: absolute;
    left: 50px;
    top: 150px;
    width: 370px;
    height: 146px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }

  .topic:nth-child(2)::after {
    content: " ";
    display: block;
    position: absolute;
    left: 50px;
    top: 126px;
    width: 370px;
    height: 170px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }

  .trend-one {
    width: 100%;
    height: 100%;
    background-image: url(https://i.postimg.cc/9XDWrPC1/trend1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
  }

  .trend-text {
    display: block;
    box-sizing: border-box;
    padding: 170px 35px 50px 94px;
  }

.trend-text-cheese {
    padding: 150px 78px 37px 67px;
  }

.trend-text:nth-child(2) {
    display: block;
    box-sizing: border-box;
  padding: 100px 35px 50px 94px;
  }

  .trend-two {
    width: 100%;
    height: 100%;
    background-image: url(https://i.postimg.cc/5y2p29Zk/trend2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
  }

  .trend-three {
    width: 100%;
    height: 100%;
    background-image: url(https://i.postimg.cc/rwrjmPPc/trend3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
  }

  .trend-four {
    width: 100%;
    height: 100%;
    background-image: url(https://i.postimg.cc/j5s4Mddd/trend4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
  }

  .trend-categories {
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
  }

  .trend-categories:hover {
    font-size: 14px;
    line-height: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
  }

  .trend-categories-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .title-category {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
  }

  .title-category:hover {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
  }

.main {
  width: 100%;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  margin-top: 66px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.post-list {
  width: 46.2%;
  padding-left: 245px;
  display: flex;
  flex-wrap: wrap;
}

.post {
  display: flex;
}

.post-preview {
  box-sizing: border-box;
  width: 381px;
  height: 294px;
  margin: 30px;
  background-color: #eff6f1;
}

.post-content {
  box-sizing: border-box;
  width: 367px;
  height: 294px;
  margin-top: 17px;
}

.post-tags {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
}

.post-tags-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.topic-date {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 15px;
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  font-weight: 400;
}

.topic-title-author {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
}

.topic-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.topic-content {
  width: 367px;
  height: 62px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
}

.sidebar {
  width: 17.4%;
  padding-left: 150px;
}

.latest-post {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.new-posts-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.new-posts-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #b59f5b;
}

.new-post {
  max-height: 85px;
  display: flex;
}

.new-post-image {
  display: block;
  width: 75px;
}

.new-post-image:hover {
  width: 70px;
  height: 70px;
  background-color: #f4f7f6;
}

.new-post-text {
  margin-left: 10px;
  width: 183px;
  max-height: 85px;
  margin-top: -13px;
}

.new-post-text-date {
  opacity: 0.541;
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

.new-post-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin-top: -13px;
}

.new-post-title:hover {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
}

.search {
  display: flex;
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
}

.search:focus {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.field {
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;

  box-sizing: border-box;
  width: 222px;
  height: 48px;
  padding-left: 20px;
  border: none;
}

.button-search {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  border: none;
}

.button-search:hover {
  width: 48px;
  height: 48px;
  background-color: #323232;
}

.subscribe-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.e-mail-field {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: none;

  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

.e-mail-field:focus {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.submit {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;

  width: 275px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
}

.submit:hover {
  width: 270px;
  height: 48px;
  background-color: #323232;
}

.tags-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.tags-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #b59f5b;
}

.tags-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.tags-box-fashion {
  width: 86px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  text-align: center;

  margin-bottom: 4px;
}

.tags-box-fashion:hover {
  width: 86px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #b59f5b;
}

.tags-box-music {
  width: 75px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.tags-box-lifestyle {
  width: 90px;
  height: 30px;
  background-color: rgba(253, 249, 242, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.tags-box-art {
  width: 59px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  margin-bottom: 4px;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.tags-box-interior {
  width: 76px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.tags-box-travel {
  width: 77px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.tags-box-food {
  width: 65px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.tags-box-health {
  width: 76px;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;

  text-align: center;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.categories-title {
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.categories-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #b59f5b;
}

.categories-container {
  width: 271px;
}

.category__beauty {
  position: relative;
  width: 75px;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}

  .category::after {
    content: " ";
    display: block;
    width: 271px;
    height: 1px;
    background-color: #eeeeee;
  }

.indicator {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
}

.category__health {
  position: relative;
  width: 85px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}

.category__lifestyle {
  position: relative;
  width: 120px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}

.category__music {
  position: relative;
  width: 75px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}

.category__sport {
  position: relative;
  width: 65px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}

.category__yoga {
  position: relative;
  width: 50px;

  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}

.shop {
  width: 100%;
  /*margin-bottom: 160px;*/
  margin: 0 auto;
}

.shop-title {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.shop-title::after {
  content: " ";
  display: block;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  background-color: #b59f5b;
}

.products-container {
  width: 100%;
  display: flex;
}

.product {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.product::after {
  content: " ";
  display: block;
  position: absolute;
  top: 177px;
  left: 30px;
  width: 347px;
  height: 267px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #b59f5b;
}

.product-imgbox-one {
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
  margin: 0 auto;
  background-image: url(https://i.postimg.cc/PrzGLQr8/shop-item-desk1.jpg);
}

.product-imgbox-two {
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
  margin: 0 auto;
  background-image: url(https://i.postimg.cc/bv54X6L4/shop-item-desk2.jpg);
}

.product-imgbox-three {
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
  margin: 0 auto;
  background-image: url(https://i.postimg.cc/7h3R2qDy/shop-item-desk3.jpg);
}

.product__body {
  width: 100%;
  height: 190px;
  box-sizing: border-box;
  padding-left: 57px;
  padding-right: 57px;

  display: flex;
  flex-wrap: wrap;
}

.product-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product__description {
  width: 301px;
  height: 63px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
}

.product__description:hover {
  width: 301px;
  height: 54px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
}

.product-link {
  color: #b59f5b;
  text-decoration: underline;
}

.product__prices {
  display: flex;
  flex-direction: column;
}

.product__price_old {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product__price {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product__button {
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;

  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.product__button:hover {
  width: 140px;
  height: 48px;
  background-color: #323232;
}

.product__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
}

.footer-container {
  width: 100%;
  height: 83px;
  margin-top: 150px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dribbble {
  width: 50px;
  height: 50px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.pinterest {
  width: 50px;
  height: 50px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.tumbler {
  width: 50px;
  height: 50px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  width: 100%;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 43px;
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
}

@media (max-width: 1200px) {  
   .header-menu-container {
    position: relative;
  z-index: 1;
  width: 696px;
  margin: 0 auto;
    margin-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .burger {
    position: relative;
    z-index: 1;
    display: block;
    border: none;
    background: transparent;
    width: 23px;
    height: 24px;
  }
  
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #fff;
  }
  
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
  }
  
  .burger::after {
    bottom: 0;
  }
  
  .menu-list {
    display: none;
  }
  
  .noemi-logo {
    width: 160px;
  }
  
  .heading-container {
    width: 78.83%;;
    margin: 0 auto;
  }

  .header-title {
    width: 100%;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
  }

  .now-in-trend {
    margin-top: 250px;
  }
  
   .trend-title {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .trend-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
  }

  .topic {
    position: relative;
    display: block;
    width: 385px;
    height: 247px;
    margin: 0 auto;
  }

  .topic::after {
    content: " ";
    display: block;
    position: absolute;
    top: 90px;
    left: 20px;
    width: 344px;
    height: 136px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }
  
   .topic:nth-child(2)::after {
    content: " ";
    display: block;
    position: absolute;
    left: 20px;
    top: 67px;
    width: 344px;
    height: 158px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }

  .trend-text {
    padding: 120px 110px 10px 46px;
  }
  
  .trend-text-cheese {
    padding: 100px 78px 37px 47px;
  }

  .trend-categories {
    font-size: 14px;
    line-height: 37px;
  }

  .title-category {
    font-size: 17px;
    line-height: 22px;
    margin: 0 auto;
  }

  .title-category:hover {
    font-size: 17px;
    line-height: 22px;
  }

  .main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .post-list {
    width: 51.3%;
    padding-left: 0;
  }

  .post {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .post::after {
    content: " ";
    display: block;
    width: 392px;
    height: 3px;
    background-color: #eeeeee;
  }
 
  .post-content {
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 38px;
  }

  .topic-title {
    font-size: 17px;
    line-height: 22px;
  }

  .sidebar {
    width: 35.84%;
    padding-left: 60px;
  }
  
  .latest-post {
    width: 100%;
    margin: 0 auto;
  }

  .new-posts-title {
    font-size: 14px;
    line-height: 29px;
  }

  .new-posts-title::after {
    content: " ";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    margin: 0 auto;
    background-color: #b59f5b;
  }

  .new-post {
    max-height: 80px;
    display: flex;
    margin-bottom: 20px;
  }

  .new-post-image {
    display: block;
    width: 70px;
  }

  .new-post-image:hover {
    width: 70px;
    height: 70px;
    background-color: #f4f7f6;
  }

  .new-post-text {
    margin-left: 10px;
    width: 246px;
    max-height: 85px;
    margin-top: -13px;
  }

  .subscribe-title {
    font-size: 14px;
  }

  .tags-title {
    font-size: 14px;
  }

  .products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }

  .product {
    position: relative;
    width: 43.51%;
    margin-bottom: 80px;
  }

  .product::after {
    content: " ";
    display: block;
    position: absolute;
    top: 180px;
    left: 8px;
    width: 338px;
    height: 264px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }

  .product__button {
    position: absolute;
    top: 350px;
    left: 180px;
  }
}

@media (max-width: 640px) {
 
  .header-menu-container {
   position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
  }
 
  .noemi-logo {
    position: absolute;
  z-index: 1;
    top: 200px;
    left: 50px;
    width: 270px;
  }
  
  .heading-container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 250px;
    width: 328px;
    height: 384px;
  }

  .header-title {
    font-size: 26px;
line-height: 36px;
  }
  
  .now-in-trend {
    margin: 0 auto;
  }
  
   .trend-title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }

  .topic::after {
    content: " ";
    display: block;
    position: absolute;
    top: 86px;
    left: 12px;
    width: 330px;
    height: 127px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }
  
    .topic:nth-child(2)::after {
    content: " ";
    display: block;
    position: absolute;
    top: 70px;
    left: 12px;
    width: 330px;
    height: 148px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
  }
  
  .trend-text {
    padding: 115px 130px 10px 30px;
  }
  
  .trend-text-cheese {
    padding: 95px 30px 10px 30px;
  }

  .trend-categories {
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 37px;
  }

  .title-category {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 20px;
  }
  
   .main {
     padding-right: 0;
     padding-left: 0;
  }

  .post-list {
    width: 100%;
    margin: 0 auto;
  }

  .post {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .post-preview {
  width: 361px;
height: 232px;
  }
  
  .post-content {
    box-sizing: border-box;
    margin-top: 20px;
  }

  .post-tags-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .topic-title {
    font-size: 16px;
    line-height: 20px;
  }

  .topic-content {
    font-size: 14px;
    line-height: 20px;
  }

  .sidebar {
    width: 100%;
    padding-left: 40px;
  }

  .new-posts-title {
    font-size: 16px;
    line-height: 29px;
  }

  .new-post {
    width: 91.67%;
    max-height: 80px;
    display: flex;
    margin-bottom: 20px;
  }

  .search-box {
    width: 91.67%;;
  }
  
  .search {
    position: relative;
    display: flex;
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
  }

  .search:focus {
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
  }

  .field {
    padding-left: 0;
    padding-right: 0;
  }

  .button-search {
    position: absolute;
    right: 0;
  }

  .subscribe {
    margin: 0 auto;
  }  
  
  .subscribe-title::after {
    content: " ";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    margin: 0 auto;
    background-color: #b59f5b;
  }
  
  .e-mail-field {
    width: 100%;
  }

  .e-mail-field:focus {
    width: 100%;
  }

  .submit {
    width: 100%;
  }

  .submit:hover {
    width: 100%;
  }

  .tags-container {
    width: 100%;
  }
  
  .categories-title {
    font-size: 16px;
  }

  .categories-container {
    width: 100%;
  }

 .products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    position: relative;
    width: 100%;
    margin-bottom: 75px;
  }
}